#right{
    width:100%;
    //position: relative;
    position:fixed;
    height: 100%;
    display: flex;


    #rightContainer{
        height: inherit;
        background-color:silver;
        width: 100%;
        visibility: visible;


        
    }

}