#right{
    width:100%;
    //position: relative;
    position:fixed;
    height: 100%;
    display: flex;


    #rightContainer{
        height: inherit;
        background-color:rgb(241, 241, 241);
        width: 100%;
        visibility: visible;


        
    }

}