<div id='left' (mouseover)="doExpand(true)" (mouseout)="doExpand(false)"
    [@expandLeft]="isExpand()"        
>
    <div id="bottom"></div>
    <div id="top">
        <ul>
            <li>
                <button routerLink='remeber-word'>背单词</button>
            </li>
            <li>
                <button routerLink="todo-list">代办事务</button>
            </li>
            <li>
                <button routerLink="kng-creator">创建知识</button>
            </li>
        </ul>      
    </div>
    
</div>