
    <div (onRefresh)="refreshData()" >
    <div id='task_bar'></div>
    <table id='to_do_list_table' >
        <thead style="background-color: sienna;width: 100%;">
            <tr>
                <th >序号</th>
                <th >紧急度</th>
                <th >分类</th>
                <th >内容</th>
                <th >复杂度</th>
                <th >状态</th>
                <th >创建日期</th>
                <th>操作区</th>
            </tr>
        </thead>
        <tbody >
            <tr (addNew)="addNew($event)" app-to-do   *ngFor="let d of getToDos(), let i = index"
                [toDo]="d" [index]="i" [style.background-color]="isCurrentProcessing(d)?'green':'white'">
            </tr>
        </tbody>
    </table>

    <!-- 这里如果跨区域进行绑定 ? -->
    <app-to-do-result *ngIf='showResultBox()' [toDo]="getFinished()"></app-to-do-result>
</div>


