<div id='container' >
    <div id='mode_switcher'>
        <ul>

            <li>
                <button (click)="changeMode('record')">记录</button>
            </li>
            <li>
                <button (click)="changeMode('test')">测试</button>
            </li>
        </ul>
    </div>


    <div id='edit_pannel'>
        <div id='record_frame' *ngIf="getMode()=='record'">
            <!--
                包含:
                    单词，释义，(*发音)
                    分类，词类，[词根]
                    近义词，反义词
            -->

            <table>
                <tr>
                    <!--单词-->
                    <td class='label'>单词:</td>
                    <td class='val'>
                        <input/>
                    </td>
                </tr>
                <tr>
                    <!--释义-->
                    <td class='label'>释义:</td>
                    <td class='val'></td>
                </tr>
                <tr style="visibility: collapse;">
                    <!--发音-->
                    <td class='label'>发音:</td>
                    <td class='val'></td>
                </tr>
                <tr>
                    <!--分类-->
                    <td class='label'>分类:</td>
                    <td class='val'>
                        
                    </td>
                </tr>
                <tr>
                    <!--词类-->
                    <td class='label'>词类:</td>
                    <td class='val'>
                        <ul class="word_type_group" >

                            <li *ngFor="let type of word_types">
                                <label>{{type}}</label>
                                <input type='radio' name='word_type' value='(type)'/>
                            </li>

                        </ul>
                    </td>
                </tr>
                <tr>
                    <!--词根-->
                    <td class='label'>词根:</td>
                    <td class='val'></td>
                </tr>
                <tr>
                    <!--近义词-->
                    <td class='label'>近义词:</td>
                    <td class='val'></td>
                </tr>
                <tr>
                    <!--反义词-->
                    <td class='label'>反义词:</td>
                    <td class='val'></td>
                </tr>

            </table>

        </div>
        <div id='test_frame' *ngIf="getMode()=='test'"></div>
    </div>

    <div id='config_pannel'>

        <div style="background-color: red; width: 500px; height: 500px;"></div>
    </div>

</div>
